.text{
	padding-left: 190px;
	padding-bottom:30px;
}
.Almond{
	background-color: $frout-color1;
}
.Apple{
	background-color: $frout-color2;
}
.apple-cider{
	background-color: $frout-color3;
}
.Aloe-Vera{
	background-color: $frout-color2;
}
.Banana {
	background-color: $frout-color1;
}
.Basil{
	background-color: $frout-color3;
}
.Beans{
	background-color: $frout-color2;
}
.Beetroot  {
	background-color: $frout-color1;
}
.Bitter  {
	background-color: $frout-color3;
}
.Eggs{
	background-color: $frout-color2;
}
.Broccoli   {
	background-color: $frout-color3;
}
.Cabbage   {
	background-color: $frout-color2;
}
.Dates   {
	background-color: $frout-color1;
}
.Honey{
	background-color: $frout-color3;
}
.molla{
	border: 2px solid transparent;
	padding-bottom:20px;
}
.text{
	padding-left: 190px;
	padding-bottom:30px;
}
.Almond{
	background-color: $frout-color1;
}
.Apple{
	background-color: $frout-color2;
}
.apple-cider{
	background-color: $frout-color3;
}
.Aloe-Vera{
	background-color: $frout-color2;
}
.Banana {
	background-color: $frout-color1;
}
.Basil{
	background-color: $frout-color3;
}
.Beans{
	background-color: $frout-color2;
}
.Beetroot  {
	background-color: $frout-color1;
}
.Bitter  {
	background-color: $frout-color3;
}
.Eggs{
	background-color: $frout-color2;
}
.Broccoli   {
	background-color: $frout-color3;
}
.Cabbage   {
	background-color: $frout-color2;
}
.Dates   {
	background-color: $frout-color1;
}
.Honey{
	background-color: $frout-color3;
}
